:root {
    --rose-color         : #f777a8;
    --red-color          : #ff0000;
    --black-color        : #000000;
    --white-color         : #ffffff;
    --azul-especial-color: rgb(0, 170, 255);
    --email-color        : #fa5c07;

}

* {
    margin   : 0;
    padding  : 0;
    font-size: 16px;

}
h1{
    font-size:2rem;
    font-family : 'Reenie Beanie',
cursive;
margin-left: 2rem;
}
.container__principal {
    width           : 100%;
    text-align      : center;
    background-color: var(--azul-especial-color);
}

.head {
    text-align: center;
    margin-top: 3rem;
}

.logo {
    border-radius: 50%;
    box-shadow   : 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.logo:hover {
    border-radius: 50%;
    box-shadow   : 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}

.header__logo {
    width         : 18.75rem;
    vertical-align: middle;
    margin-right  : 160px;
}

.header__enlace {
    vertical-align: middle;
    font-family   : 'Reenie Beanie',
        cursive;
    color    : var(--wite-color);
    font-size: 2rem;
}

.leyenda {
    text-align : center;
    font-size  : 25px;
    font-family: fantasy;
}

.titulo {
    text-align: center;
    padding   : 2rem;

}

.container__suscriber {
    width           : 100%;
    background-color: var(--email-color);


}

.formulario {
    width     : 60%;
    text-align: left;
    margin    : 0 300px;
}

.formulario__label {
    text-align : left;
    padding    : 5px;
    font-family: fantasy;
    font-weight: normal;
}

.input {
    text-align: center;
    border    : 3px solid #000;
    width     : 100%;
    height    : 2rem;
    padding   : 15px 15px;
}

.input:focus {
    border : 2px solid #FF9FB7;
    outline: 2px solid #FF9FB7;
}

.boton {
    text-align      : center;
    width           : 104%;
    height          : 4rem;
    background-color: #000000;
    color           : #FFF;
    border-radius   : 5px;
    padding         : 15px 15px;
    font-weight     : 800;
    cursor          : pointer;
}

.boton:hover {
    color : #FF9FB7;
    border: 3px solid #FF9FB7;
}

.titulo {
    font-family: 'Reenie Beanie',
        cursive;
    color    : var(--wite-color);
    font-size: 3rem;
}


footer {
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    background-color: #FFF;
    text-align      : center;
    padding         : 20px;
    color           : var(--main-email-color);
}

.email {
    text-decoration: none;
    color          : var(--email-color);
    font-family    : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.seccion-articulos {
    display: flex;
}

.seccion-articulos .articulo {
    width: 33%;
}

.articulo {
    padding: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin    : 20px;
}

.articulo:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}

.articulo p {
    text-align: justify;
}

.header__menu {
    display        : flex;
    justify-content: center;
}

nav {
    display        : flex;
    justify-content: space-around;
    padding        : 10px;
    margin         : 40px;
}

.menu a {
    text-decoration: none;
    font-family : 'Reenie Beanie',
cursive;
    font-size    : 1.25rem;
    font-weight : bold;
    padding      : 5px 10px;
    border       : 2px solid #FF9FB7;
    border-radius: 5px;
    color        : rgb(34, 33, 33);

}

.menu a:hover {
    background-color: #FF9FB7;
    color           : #fff;
}

li {
    list-style    : none;
    flex-direction: row;
}

.container__contacto{
    margin:0 160px;
    width:60%;   
    
}
.contacto__label{
    font-size :1.25rem;
    font-family: fantasy;
}
.input.contacto__input{
    width: 50%;
    font-size: 1.25rem;
    text-align: left;
}
.input.contacto__textarea {
    width    : 50%;
    min-height:10rem ;
    font-size: 1.25rem;
    text-align: left;
}

.boton__contacto{
    background-color:var(--black-color);
    color           : var(--white-color);
    font-family : 'Reenie Beanie',
cursive;
padding:1rem;
border-radius: 5px;
}
.boton__contacto:hover{
    color : #FF9FB7;
border: 3px solid #FF9FB7;
cursor: pointer;
}