/*Variables*/

:root {
    --orange-color: #FDA000;
    --white-color: #FFFFFF;
    --blue-color: #214070;
    --blueligth-color: #5A7EBE;
    --green-color: #4DB698;
    --rojo-color: #D6244D;
    --primary-color: #EEF2F9;
    --font-size: 14px;
    --font-size-m: 22px;
    --font-size-l: 30px;
    --font-size-xl: 52px;
    --font-size-xxl: 75px;
    --mobile-font-size-m: 18px;
    --mobile-font-size-l: 22px;
    --mobile-font-size-xl: 32px;
    --mobile-font-size-xxl: 44px;
}


/*Genéricos*/

body {
    font-family: "Proxima nova", sans-serif;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hidden {
    visibility: collapse;

}

.visible {
    visibility: visible;
}

.opcidad {
    visibility: collapse;
    opacity: 0;
}


/*##### Cabecera y menu #######*/

.header {
    display: flex;
    height: 60px;
    justify-content: flex-end;
    background-color: var(--blueligth-color);
    margin-left: 20px;
    margin-top: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    font-size: var(--font-size-m);
}

.navbar a {
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: var(--white-color);
    width: 200px;
    height: 40px;
    margin: 10px 20px 10px 0px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
}

.navbar a span {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 5px 0px 10px 0px;
    z-index: 2;
    /* transition: .3s ease all; */
}

.navbar a::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--orange-color);
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 1;
    transition: .3s ease-in-out all;
}

.navbar a:hover::after {
    top: 0;
    color: #214070;
}

.navbar__modal {
    position: relative;
    background-color: var(--green-color);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 110%;
    flex-wrap: wrap;
}

.navbar__modal--closed {
    position: static;
    background-color: var(--blueligth-color);
}

.navbar__menu__icon {
    visibility: hidden;
    margin-top: -10px;
    margin-right: 20px;
    max-width: 40px;
}

.navbar__menu__icon--close {
    position: absolute;
    max-width: 20px;
    height: 20px;
    margin-right: 20px;
    right:25px;
    top: 65px;

}

.navbar__column_link {
    display: inline-block !important;
    color: #D6244D;
}

.titulo__principal {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.logo {
    position: absolute;
    width: 160px;
    top: 10px;
    margin-left: 5px;
}

footer {
    background-color: var(--blue-color);
    color: var(--white-color);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.email {
    text-decoration: none;
    color: var(--main-email-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*### Cuerpo Principal -- Sección Card ###*/

.principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    gap: 30px;
}


/*##### Card TV ####*/

.card-principal {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    align-items: center;
    border-radius: 10px;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-principal:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.titulo__cabecera {
    font-size: var(--font-size);
}

.numero__canal {
    font-weight: bold;
}

.picture {
    display: flex;
    justify-content: center;
    align-content: center;
}

.picture img {
    width: 70px;
}

.card-header {
    text-transform: uppercase;
    padding: 20px 0px 20px 0px;
}

.cardFooter {
    font-size: var(--font-size);
    padding-bottom: 5px;
}

.buscador {
    margin-top: 100px;
    margin-left: 50px;
}

#numero {
    height: 30px;
}
.position__navbar{
    position:absolute;
        top: 150px;
}


/*Media Queries*/


/* Mobil*/

@media only screen and (max-width: 788px) {
    .header {
        margin: 0;
        column-gap: 2px;
        top: -10px;
    }

    .navbar {
        flex-direction: column;        
        height: 50%;
        

    }
    .position__navbar{
        position:absolute;
            top: 150px;
    }
    .navbar__modal {
        justify-content: space-evenly;
    }

    .anchor {
        visibility: hidden;
    }

    .logo {
        display: inline-block;
        width: 80px;
    }

    .navbar__menu__icon {
        display: inline-block;
        visibility: visible;
        max-width: 40px;
    }

    .principal {
        gap: 10px;
    }

    .card-principal {
        width: 200px;
        height: 200px;
    }

    .picture img {
        width: 50px;
    }
}


/*Tablet*/

@media only screen and (min-width: 788px) and (max-width:1200px) {
    .navbar a {
        width: 130px;
    }

    .logo {
        position: absolute;
        top: 0;
        justify-content: center;
    }
}


/*Desktop*/

@media only screen and (min-width: 788px) {
    .header {
        width: 95%;
    }

    .logo {
        top: 50px
    }

    .navbar__column_link {
        display: inline-block;
        visibility: visible;
    }

    .navbar__modal {
        position: static;
        background-color: var(--blueligth-color);
    }

    .navbar__menu__icon--close {
        visibility: hidden;
    }

    .navbar__menu__icon {
        visibility: hidden;

    }
}