body {
    background-color: var(--dark-green-color);
    font-size: var(--global-font-size);
    font-family: Arial, Helvetica, sans-serif;
    margin: 3.7em 0 0 0 ;
    padding: 0;
}

a{
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}

header.header__navegacion nav ul{
    position: relative;
    display: inline;
    overflow: hidden;
    position: var(--relative-position);
    text-align: center;
    left: 20%;
    top: 1.3em;
}

header.header__navegacion nav ul li {
    list-style: none;
    display: inline;
    padding: 0 4em;
}

header.header__navegacion nav ul li a:hover {
    color: var(--light-blue-color);
}

header.header__navegacion nav ul li a {
    font-weight: var(--bold-font-weight);
    color: var(--white-color);
    transition: color .5s;
}

.boton__citas{
    float: right;
    margin: 0.5em 3em;
    color: var(--dark-green-color);
    padding: 0.8em 1em;
}

.boton__citas:hover{
    background-color: var(--turquoise-background);
}

.boton__citas:active{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.boton__formulario{
    margin: 1em auto;
    padding: 0.8em 1em;
    border-radius: 0.2em;
    border: none;
    color: var(--white-color);
}

.header__contenido{
    background-color: var(--cheese-background);
    height: 31.25em;
    text-align: center;
    padding-top: 10rem;
}

.titulo{
    font-size: var(--large-font-size);
    background: -webkit-gradient(linear, left top, right top, color-stop(35%, #ffa500), color-stop(45%, #ff0000), color-stop(60%, purple));
    background: -o-linear-gradient(left, #ffa500 35%, #ff0000 45%, purple 60%);
    background: linear-gradient(to right, #ffa500 35%, #ff0000 45%, purple 60%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.subtitulo{
    font-size: var(--medium-font-size);
    margin: 0 7em;
}

.columna{
    display: inline-block;
    width: 40%;
    height: 100%;
}

.columna:first-child {
    margin-right: 10%;
    border-right: 0.1em solid var(--white-color);
}

.columna:nth-child(2){
    position: absolute;
    top: 0;
}

.article--contenedor.servicio{
    width: 80%;
    margin: var(--margin-center);
    height: 30em;
    position: relative;
}

#servicio1 div{
    background-color: var(--purple-background);
}

#servicio2 div{
    background-color: var(--dark-blue-background);
}

.article--contenedor.contacto{
    width: 80%;
    margin: var(--margin-center);
    height: 30em;
    position: relative;
}

#contacto div{
    background-color: var(--blue-background);
}

.article--contenedor.contacto h1{
    text-align: center;
}

.article--contenedor.contacto form{
    margin: 1em 20em;
    color: var(--white-color);
}

.form__boton{
    text-align: center;
}

.form__input{
    width:100%;
    height: 2em;
    border-radius: 0.25em;
    border-style: none;
}

.form__textarea{
    width:100%;
    height: 6em;
    border-radius: 0.25em;
    border-style: none;
}

.article__imagen{
    border-radius: 50%;
    width: 85%;
    height: 85%;
    padding: 2.5em 3em;
}


.titulo--normal{
    color: var(--white-color);
    font-size: var(--medium-font-size);
}

.titulo--pequeno{
    color: var(--white-color);
    font-size: var(--small-font-size);
    padding-top: 1em;
}

.listado{
    color: var(--white-color);
    font-size: var(--small-font-size);
}

header article:first-child{
    padding-top: 0;
}

article {
    padding: var(--padding-container);
}

label{
    display: block;
    margin: 0.75em 0;
}

input:focus, textarea:focus{
    outline: none;
}