/*VARIABLES*/
:root {
    --red-color: #e50914;
    --white-color: #fff;
    --grey-color: #8c8c8c;
    --black-color: #000;
    --dark-grey-color: #303030;
    --green-color-secondary: #132d22;
    --green-color-primary: #25704f;
    --green-color-primary-2: #25704fAB;
    --font-size: 14px;
    --font-size-m: 16px;
    --font-size-ls:20px;
    --font-size-l: 24px;
    --font-size-xl: 33px;
    --font-size-xxl: 42px;
    --mobile-font-size-m: 18px;
    --mobile-font-size-l: 20px;
    --mobile-font-size-xl: 25px;
    --mobile-font-size-xxl: 32px;
}
/*GENERICOS*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size);
}
.container--center {
    display: grid;
    place-content: center;
    
}
.text-size {
    font-size: var(--font-size);
}
.text--m {
    font-size: var(--font-size-m);
  }
  .text--l {
    font-size: var(--font-size-l);
  } 
  .text--ls {
    font-size: var(--font-size-ls);
  }
  .text--xl {
    font-size: var(--font-size-xl);
  }
  .text--xxl  {
    font-size: var(--font-size-xxl);
    font-weight: 600;
    margin: 0;
  }
  .text--center {
    text-align: center;
  }
  .text--300 {
    font-weight: 300;
  }
  .text--600 {
    font-weight: 600;
  }
 .text--green-primary {
    color: var(--green-color-primary);
 } 
 .text--green-secondary {
    color: var(--green-color-secondary);
 }
.box {
    max-width: 1200px;
}
.box--l {
    max-width: 1600px;
    padding-bottom: 85px;
}
.hidden {
    display: none !important;
  }
  .visible {
    display: grid !important;
  }
.separator {
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 0;
    width: 100%;
    overflow: hidden;

}
.separator svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 72px;
}
.separator .shape-fill {
    fill: #FFFFFF;
}

/*HEADER*/
header {
    background-image: url("assets/lorena-pasteleria-hdr1.webp");
    background-size: cover;
    color: var(--menu-color);
    padding-bottom: 50px;
    grid-template-columns: 2fr;
    position: relative;
}
.menu {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: end;
    align-items: center;
    width: 100%;
   /* max-width: 1200px;*/
  }
  .navbar__link {
    color: var(--green-color-secondary);
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
  }
 nav {
    display: grid;
   background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.8), 
                                               hsla(0, 0%, 100%, 0.8));
    align-content: center;
    height: 90px;
 } 
 .navbar__row__logo {
    width: 350px;
    height: 350px ;
 }
 .box--navbar{
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: minmax(90px, 90px) ;
    justify-items: center;
    /*position: fixed;*/
 }
 .navbar__column__logo {
    width: 120px;
    height: 50px;
    padding: 20px 0px 0px 0px;
}
.icon-wrapper {
    width: 100%;
    display: grid;
    place-items: center;
  }
.navbar__icon--open {
    display: none;
    max-width: 40px;
    
  }
  .navbar__icon--close {
    max-width: 24px;
  }
  
/*SECTION*/
.who-we-are-section, .services-section  {
    font-family: Montserrat,sans-serif;
    padding: 70px 70px 0 70px;
}
.who-we-are-section p {
    margin: 15px 0;
}
.who-we-are-section img {
    max-width: 1038px;
    padding: 30px 0 0 0;
}
.text--linear {
    padding-bottom: 15px;
}

/*SECTION SERVICES*/
.container-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(300px, 1fr) minmax(300px, 1fr);
    column-gap: 40px;
    row-gap: 40px;
}
.service-description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto, auto;
    overflow: hidden;
}
.item {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    
}

.subitem {
    grid-column: 1 / 2;
    grid-row: 2;
    display: grid;
    justify-content: center;
    padding-bottom: 35px;
}
.service-description img {
    max-width: 315px;
    border-radius: 7px;
    box-shadow: 0px 25px 50px 0px rgb(0 0 0 / 12%);
    
}
.container--photo__image {
    display: grid;
    transition: all .3s; 
}
.container--photo__image:hover {
    transform: scale(1.1);
}

.service-detail {
    padding: 20px;
}
.service-detail--link {
    font-size: 17px;
    font-weight: 500;
    color: var(--green-color-primary);
    background-color: #FFFFFF2B;
    border: 2px solid var(--green-color-primary);
    border-radius: 4px;
    padding: 10px 25px;
    text-decoration: none;
    
}

/*BANNER*/
.banner--box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 50px 100px 50px;
    justify-items: center;
    position: relative;
}
.banner--notice {
    width: 150px;
    height: 35px;
    background-color: var(--green-color-primary);
    transform: rotate(-30deg);
    
}

.banner--notice p { 
    color: var(--white-color);
    text-align: center;
    padding: 0 15px 10px 15px;
}

.banner-display-top{position:absolute;left:5px;top:40px}
.banner--premium {
    grid-column: 1 / 1;
    grid-row: 1 / 4;
    display: grid;
    width: 1058px;
    height: 300px;
    box-shadow: 0px 24px 45px 0pxrgba(0, 0, 0, 0.12);
}
.banner-item1 {
    display: grid;
    grid-column: 1/1;
    grid-row: 1 / 2;
    place-items: center;
}
.banner-item2 {
    display: grid;
    grid-column: 1/1;
    grid-row: 2 / 3;
    place-items: center;
}
.banner-item3 {
    display: grid;
    grid-column: 1/1;
    grid-row: 3 / 4;
    place-items: center;
}

.banner-buton {
    color: var(--white-color);
    padding: 15px 30px;
    background: #40906C;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 17px;
    margin: 25px;
}
.banner--message {
    text-align: center;
    margin-top: 80px;
}

/*FOOTER*/
.container--footer {
    display: grid;
    grid-template-columns: 244px 264px 328px 1.2fr;
    grid-template-rows: minmax(100px, 1fr);
    column-gap: 40px;
    margin-top: 70px;
    margin-bottom: 50px;
    
}
.footer--description {
   /* padding: 20px;*/
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.2fr 0.12fr 0.12fr 0.12fr;
   justify-items: start;
   
}
.footer--logo {
     width: 150px;
 }
.footer--link {
    text-decoration: none;
    color: var(--green-color-secondary);
}
.footer--link:hover{
color: var(--green-color-primary);
}
.footer--icon {
    width: 17px;
    height: 17px;
    padding: 0 5px 0 10px;
}
.text--autor {
    font-size: 11px;
    color: var(--green-color-primary-2);
    padding-bottom: 20px;
} 
.modal--popup {
    width: 100%;
    height: 100%;
}


.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:700px}
.w3-button:hover{color:var(--green-color-primary-2) !important;background-color:#F4F4F4!important}
.w3-display-topright{position:absolute;right:0;top:0}
.w3-button{font-size: 40px; border:none;display:inline-block;padding:5px 15px;vertical-align:middle;overflow:hidden;text-decoration:none;color:var(--green-color-primary);background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}

/*MOBILE IPHONE 5 */
@media only screen and (max-width: 768px){
    .navbar__icon--open {
        display: inline-block;
        
      }
      .box--navbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(90px, 90px) ;
        justify-items: center;
        /*position: fixed;*/
     }
     .banner--notice {
        display: none;
     }
     .navbar__row__logo {
        width: 250px;
        height: 350px ;
     }
     
    .menu{
        display: none;
        grid-template-columns: 1fr;
        row-gap: 25px;
        background-color: #F4F4F4;
        padding: 15px 0;
        position: absolute;
        left: 0;
        top: 90px;
    }
    .menu a:hover {
        background-color: var(--green-color-primary);
        color: var(--white-color);
    }
    .who-we-are-section img {
        max-width: 300px;
        height: 10px;
    }
    .who-we-are-section, .services-section  {
        padding: 20px 20px 0 20px;
    }
    .container-services {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
    }
    .banner--premium {
        max-width: 300px;
    }
    .container--footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .footer--description {
        justify-items: center
     }
     .text--autor {
        text-align: center;
        padding: 0 20px;
    }
    .banner--message {
        padding: 0 50px;
    }
    .banner-item1 {
        font-size: var(--mobile-font-size-xl);
    }
    .banner-item2 {
        font-size: var(--mobile-font-size-l);
    }
    .w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:300px}
    .container--photo__image {
        display: grid;
        grid-template-columns: 1fr;
    }
    
}

/*TABLET IPAD PRO*/
@media only screen and (min-width: 768px)  and (max-width: 1200px) {
    .navbar__icon--close {
        display: none;
    }
    .container-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,1fr);
        column-gap: 70px;
        
    }
    .who-we-are-section img {
        width: 700px;
        height: 10px;
    }
    .banner--notice {
        display: none;
     }
     .banner--premium {
        max-width: 700px;
    }
    .container--footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

/*DESKTOP*/
@media only screen and (min-width: 768px) {
    .navbar__icon--close {
        display: none;
    }
}