/*Generalidades*/

:root{
    --global-font-size: 36px;
    --medium-font-size: 17px;
    --golden-color: rgb(238, 194, 49);
    --white-color: #fff;
    --blue-color: #2482ee;
    --margin-center: 0 auto;
    --black-color: rgb(0, 0, 0);
    --small-font-size: 10px;
    --grey--color: (rgb(160, 160, 153));
}

body{
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-size: var(--global-font-size);
    background-color: var(--white-color);
    margin: 0;
    color: var(--black-color);
}

a{
    text-decoration: none;
}


/*Navigation Bar*/

.imagen{
    width: 250px;
    height: 180px;
    padding: 10px;
}

header{
    position: relative;
}

nav{
    position: absolute;
    left: 500px;
    bottom: 100px;
}

.nav__button, .action__button{
    padding: 10px 30px;
    margin: 0 25px;
    font-size: var(--medium-font-size);
}

.button{
    border-radius: 3px;
    color: var(--white-color);
    background-color: var(--blue-color);
    transition: box-shadow 0.3s ease;
} 

.button:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

/*Section del header*/

.header__introduction{
    margin: var(--margin-center);
    text-align: center;
    background-image: linear-gradient(rgba(212, 212, 212, 0.5), rgba(102, 100, 100, 0.5)), url(assets/undraw_Bitcoin_re_urgq.png);
    padding: 50px;
}

.titulo{
    font-size: 60px;
}

.subtitulo{
    font-size: var(--medium-font-size);
}

.fondo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
}

/* .fondo__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


/*Secciones de information*/

.section__box{
    background-image: linear-gradient(rgba(247, 240, 240, 0.733), rgba(190, 189, 189, 0.719)), url(assets/undraw_Transfer_money_re_6o1h.png);
}

.section1--encabezado{
    font-size: 35px ;
    text-decoration: underline;
    text-decoration-color: var(--blue-color);
}

.informacion{
    font-size: var(--medium-font-size);
}

.section1{
    margin: 10px;
    border: 1px var(--blue-color) groove;
    border-radius: 3px;
    padding: 20px 0;
    text-align: center;
}

.section1--encabezado2{
    font-size: 25px;
}

span{
    border-radius: 3px;
    background-color: beige;
    padding: 35px 35px;
    margin: 0 20px;
    transition: box-shadow 0.3s ease;
}

span:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

/*Seccion de Planes de inversion*/

.section__box2{
    position: relative;
    font-size: var(--medium-font-size);
    text-align: center;
}

.box--imagen{
    width: 200px;
    height: 150px;
}

.box__plan1{
    position: absolute;
    left: 55px;
}

.box__plan2{
    position: absolute;
    left: 700px;
}

.box__plan1, .box__plan2{
    border-radius: 5px;
    background-color: rgb(206, 205, 202);
    padding: 0.25rem 0;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.box__plan1:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

.box__plan2:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

/*Seccion numero 3 de la pagina*/

.section__box3{
    position: relative;
}

.action__box{
    position: absolute;
    top: 410px;
    left: 55px;
    text-align: center;
}

.action__box h3{
    font-size: var(--medium-font-size);
}

.action__box p{
    font-size: 12px;
}

.box3--imagen{
    position: absolute;
    top: 360px;
    left: 800px;
    width: 400px;
    height: 250px;
}

.advertencia{
    color: var(--grey--color)
}

/*Footer*/

footer{
    position: relative;
    top: 620px;
    background: rgb(54, 47, 250) ; 
    padding: 30px;
    color: white;
}

.footer__box p{
    font-size: var(--small-font-size);
    text-align: center;
}

.footer--inicio{
    color: white;
    font-size: var(--medium-font-size);
    transition: 0.3s ease;
}
.footer--inicio:hover{
    color: lightblue;
}

