body {
  margin: 0;
  font-family: "Exo2.0-Bold", arial, helvetica;
}

/* ECABEZADO */

.gradient {
  height: fit-content;
  width: 100%;
  background: rgb(68, 80, 94);
  background: linear-gradient(
    180deg,
    rgba(68, 80, 94, 1) 0%,
    rgba(56, 141, 163, 1) 32%
  );
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.logo {
  color: #66788e;
  position: absolute;
  margin: 0;
  padding-top: 15px;
  left: 15px;
  z-index: 2;
}
.nav--selection--top {
  background-color: #2d3337;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  padding-top: 10px;
  /* display: none; */
  font-size: 12px;
}
.nav_modal_abierto {
  background-color: #2d3337;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  font-size: 17px;
}
.nav--selection {
  color: #66788e;
  font-size: 12px;
  padding-right: 20px;
  padding-bottom: 5px;
}
.hidden {
  display: none;
}
.icon--close {
  padding-top: 1%;
  display: none;
  color: #66788e;
}
.icon--menu {
  padding-top: 15px;
  z-index: 2;
  padding-right: 15px;
  position: absolute;
  right: 2px;
  color: #66788e;
  top: 0.5%;
}
.visible {
  display: flex !important;
}

/* .nav__modal--closed {
  position: static;
} */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 660px;
}
.mainTitle {
  font-family: "Exo2.0-Bold", arial, helvetica;
  color: white;
  text-align: center;
  font-size: 70px;
}
/* CONTENIDO */
.video--background {
  background: rgb(68, 80, 94);
  background: linear-gradient(
    180deg,
    rgba(68, 80, 94, 1) 0%,
    rgba(56, 141, 163, 1) 32%
  );
  position: relative;
  color: white;
  width: 100%;
  height: auto;
}
.video--autoplay {
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
  filter: opacity(10%);
}
.work--options {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-title {
  font-size: 50px;
}

.content {
  display: flex;
  flex-direction: row;
  top: 250px;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 150px;
}

.dot--animation {
  text-align: center;
  width: 25%;
}
.fa-solid {
  padding-bottom: 20px;
}

footer {
  height: fit-content;
  width: 100%;
  background: rgb(67, 81, 95);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}
.center--text {
  text-align: center;
}

/* MOBILE PHONE */
@media only screen and (max-width: 760px) {
  .gradient {
    height: 600px;
    width: 100%;
  }
  .icon--menu {
    display: inline-block;
  }
  .nav_modal_abierto {
    flex-direction: column;
    height: 300px;
    align-content: center;
    display: none;
  }

  .icon--close {
    display: inline-block;
  }
  .title {
    margin-top: 270px;
  }
  .mainTitle {
    font-size: 40px;
  }
  .video--autoplay {
    display: none;
  }
  .video--background {
    height: 1600px;
  }
  .second-title {
    font-size: 50px;
    margin: 30px;
  }

  .work--options .content {
    flex-direction: row;
    flex-wrap: wrap;
    top: 150px;
    row-gap: 70px;
    font-size: 25px;
  }

  .dot--animation {
    width: 100%;
  }
  footer {
    flex-direction: column;
    row-gap: 30px;
  }
}

/* TABLET IPAD PRO */

/* @media only screen and (min-width: 768px) and (max-width: 1200px) {
  .nav--selection--top {
    display: flex;
  }
} */

/* DESKTOP */

@media only screen and (min-width: 768px) {
  .nav--selection--top.hidden {
    display: flex;
  }
  .nav_modal_abierto {
    position: static;
  }
}
