* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
    --color--first:#000000;
    --color--second:#FFFFFF;
    --color--third:#275cf6;
    --font--first:'Orbitron', sans-serif;
    --font--second:'Roboto', sans-serif;
}

body{
    background-color:var(--color--second);
    position: relative;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 12;
    background-color:var(--color--second);
    height: 90px;
    border-bottom: solid var(--color--third) 
}
.header__logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    margin: 5px;
    border: solid var(--color--first);
    left: 7%;

}
nav{
    position: absolute;
    right: 100px;
    margin-top: 10px;
}
nav ul{
    list-style: none;
    background-color:var(--color--second);
    text-align: center;
    height: 70px;
}

nav ul li{
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
    margin-right: 20px;
}

ul li a{
    color: var(--color--first);
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

nav ul li a:hover{
    color:#275cf6;
}

/* MAIN Y ARTICULOS */
#welcome{
    text-align: center;
}
main{
    background-image: url(Images/image-banner.jpg);
    background-size: cover;
    width: 100%;
    text-align: center;
    height: 500px;
    padding-top: 10px;
    position: relative;
    margin-top: 90px;
}
main h1{
    position: absolute;
    color: var(--color--first);
    font-family: var(--font--first);
    background-color:var(--color--second);
    z-index: 10;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-weight: bold;
    font-size: 50px;
    height: 90px;
    padding-top: 10px;
}
#blog{
    text-align: center;
    background-color:var(--color--second);
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
}
#blog h3{
    color: var(--color--first);
    height: 100px;
    font-family: var(--font--first);
    color:var(--color--third);
    font-size: 40px;
    margin-top: 35px;

}
#blog article{
    display: inline-block;
    margin-top:3px;
    text-align: center;
    width: 350px;
    height: 250px;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;

}
article img{
    width: 100%;
    height: 100%;
}

#blog p{
    position: absolute;
    color: var(--color--second);
    background-color: rgb(0,0,0,0.8);
    transform: translate(-50%, -50%);
    top:95%;
    left: 50%;
    width: 100%;
    height: 37%;
    padding-top:4%;
}
/* news noticias */
#news{
    background-color: var(--color--second);
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 40px;
    margin-bottom: 10%;
}

#news div{
    background-color: var(--color--second);
    height: 180px;
    width: 100%;
    position: relative;
    background-color: none;
    margin-bottom: 60px;
}

#news p{
    position: absolute;
    color: var(--color--first);
    right: 0;
    margin-left: 50px;
    height: 100%;
    width: 67%;
    padding: 0px;
    text-align: justify;
    font-family:var(--font--second);
    line-height: 25px;
    font-size: 20px;
}
#news img{
    position: absolute;
    display: inline-block;
    width: 30%;
    height: 100%;
}
#news h3{
    height: 100px;
    color: var(--color--third);
    font-family: var(--font--second);
    font-size: 40px;
    text-align: center;
    background-color: var(--color--second);
}

/* FOOTER */

#footer{
    width: 100%;
    height: 250px;
    text-align: center;
    background-color: #444444;
    color: var(--color--second);
    position: relative;
}

#footer div{
    display: inline-block;
    width: 350px;
    height: 100%;
    position: absolute;
}

.footer__media{
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-top: 20px;
}
.footer__contact{
    padding-top: 30px;
    right: 150px;
}
.footer__legacy{
    padding-top: 30px;
    left:150px;
}
#footer ul{
    list-style: none;
    padding-top: 5px;
}

#footer li{
    padding-bottom: 20px;
}

/* Final Primera pagina  */


