* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color--first:#000000;
    --color--second:#FFFFFF;
    --color--third:#275cf6;
    --font--first:'Orbitron', sans-serif;
    --font--second:'Roboto', sans-serif;
}   
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--color--second);
    position: relative;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 12;
    background-color: var(--color--second);
    height: 90px;
    border-bottom: solid var(--color--third);
}
.header__logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    margin: 5px;
    border: solid var(--color--first);
    left: 7%;
}
nav{
    position: absolute;
    right: 100px;
    margin-top: 10px;
}

nav ul{
    list-style: none;
    background-color: var(--color--second);
    text-align: center;
    height: 70px;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
    margin-right: 20px;
}
    
ul li a{
    color: var(--color--first);
    text-decoration: none;
    font-family: var(--font--first);
    font-size: 20px;
}
    
nav ul li a:hover{
    color:var(--color--third);
}

    /* main */

.main{
    margin-top: 120px;
}

.main__title{
    color: var(--color--third);
    background-color: var(--color--second);
    text-align: center;
    font-family: var(--font--second);
    font-size: 40px;
    height: 50px;
    width: 65%;
    margin-left: 5%;
    text-align: left;
}
/* news */
.news{
    width: 65%;
    margin-left: 5%;
    overflow: hidden;
    margin-top: 100px;
    display: inline-block;
}
.news__container{
    margin-bottom: 120px;
}
.news__container__title{
    margin-bottom: 10px;
    text-align:left;
    font-family: var(--font--second);
    color: gray ;
    font-size: 12px;
}

.news img{
    width: 100%;
    height: 400px;
}

.news p{
    font-family:var(--font--second);
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
}

/* banner publicicdad */
.aside-up{
    width: 22%;
    overflow: hidden;
    height: 600px;
    background-color: var(--color--second);
    margin-top: 80px;
    margin-left: 50px;
    display: inline-block;
    position: absolute;
}

.aside-up img, .aside-mid img{
    width: 100%;
    height: 100%;
}

.aside-mid{
    width: 22%;
    overflow: hidden;
    height: 550px;
    margin-top: 55%;
    margin-left: 50px;
    display: inline-block;
    position: absolute;
}

.aside-email{
    width: 22%;
    height: 100px;
    margin-top: 100%;
    margin-left:50px;
    display: inline-block ;
    position: absolute;
    background-color:rgba(0,0,0,0.6 );
    border-radius: 5px;
}

.aside-email__form__legend{
    text-align: center;
    font-family: var(--font--second);
    color:var(--color--second);
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}

#emails{
    height: 26px;
    width: 200px;
    position:absolute;
    margin-left: 10px;
}
#button{
    width: 65px;
    height:25px ;
    font-family:var(--font--second);
    font-size: 15px;
    background-color: var(--color--third);
    color: var(--color--second);
    border-radius: 8px;
    position: absolute;
    margin-left: 74%;
}

/* footer */
#footer{
        width: 100%;
        height: 250px;
        text-align: center;
        background-color: #444444;
        color: var(--color--second);
        position: relative;
}
#footer div{
    display: inline-block;
    width: 350px;
    height: 100%;
    position: absolute;
}
.footer__media{
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-top: 20px;
}
.footer__contact{
    padding-top: 30px;
    right: 150px;
}
.footer__legacy{
    padding-top: 30px;
    left:150px;
}
    
#footer ul{
    list-style: none;
    padding-top: 5px;
}
    
#footer li{
    padding-bottom: 20px;
}
    /* Final Primera pagina  */