:root {
  --color-primary: #522377;
  --color-secondary: #b9315a;
  --color-black: rgb(63, 61, 61);
  --color-white: white;
}

/*****************  GENERAL STYLES START *****************/
body {
  font-family: "ABeeZee", sans-serif;
  color: var(--color-white);
  margin: 0px;
  font-size: 16px;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  z-index: 2;
  height: 0px;
}

footer {
  background-color: var(--color-primary);
  height: 180px;
  box-sizing: border-box;
  padding-top: 30px;
  color: var(--color-white);
  width: 100%;
}
/*****************  GENERAL STYLES END *****************/

/*****************  FLOATING BUTTON START  *****************/
.btn-flotante {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-primary);
  border-radius: 5px;
  letter-spacing: 1px;
  background-color: var(--color-white);
  padding: 18px 30px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.btn-flotante:hover {
  background-color: var(--color-primary);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  color: var(--color-white);
}
/*****************  FLOATING BUTTON END  *****************/

/*****************  MENU START  *****************/
.menu {
  list-style-type: none;
  margin: 10;
  padding: 10;
  overflow: hidden;
  background-color: var(--color-white);
}

.menu li {
  float: right;
  width: 100px;
}

.menu li a {
  display: block;
  color: var(--color-primary);
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: var(--color-secondary);
  border-bottom: 0px solid var(--color-secondary);
  color: var(--color-white);
}

.menu .active {
  border-bottom: 5px solid var(--color-secondary);
  color: var(--color-white);
}
/*****************  MENU END  *****************/

/*****************  FOOTER START *****************/
.socialnetworks {
  height: 60%;
  text-align: center;
}

.socialnetworks img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--color-white);
}

.socialnetworks img:hover {
  background-color: var(--color-secondary);
}
.copyright {
  height: 40%;
  text-align: center;
}
/*****************  FOOTER END  *****************/
