:root {
  --color-primary: #522377;
  --color-secondary: #b9315a;
  --color-black: rgb(63, 61, 61);
  --color-white: white;
}

/*****************  HEADER START *****************/
.header__logo {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 100px;
  width: 200px;
}

.section__search {
  background-color: var(--color-primary);
  box-shadow: 10px 10px 15px var(--color-secondary);
  padding: 30px;
  margin-top: 50px;
  text-align: center;
}
/*****************  HEADER END *****************/

/*****************  BACKGROUD START *****************/
.background {
  position: absolute;
  z-index: 2;
  right: 300px;
  margin-top: -43px;
}

.background__image {
  width: 200px;
  height: 200px;
}
/*****************  BACKGROUND END *****************/

/*****************  CONTENT START *****************/
.content {
  max-width: 80%;
  margin: 30px auto;
  padding-bottom: 5px;
  color: var(--color-black);
  text-align: center;
}

.content.content--padding {
  padding-top: 280px;
}

.content.content--padding-detail {
  padding-top: 150px;
}

.center {
  text-align: center;
  margin-bottom: 25px;
}

.column {
  display: inline-block;
  border-width: 0px;
}

.column__services {
  width: 20%;
  height: 100px;
  margin-right: 30px;
  margin-top: 20px;
}

.column__university {
  width: 40%;
  height: 250px;
  width: 250px;
  margin-right: 30px;
  margin-top: 20px;
}

.services__images {
  height: 100%;
  width: 100%;
}

.university_photo {
  height: 100%;
  width: 100%;
  border-radius: 20px 0px 20px 0px;
  margin-top: 30px;
}

.university__name {
  margin-top: 5px;
  margin-bottom: 10px;
}

.university__country {
  display: inline-block;
}

.university__country img {
  height: 15px;
  width: 15px;
}

.services__text {
  color: var(--color-primary);
  height: 20px;
  font-weight: bold;
}

.column__article {
  width: 70%;
}
.column__aside {
  width: 300px;
}

.title {
  color: var(--color-primary);
  font-size: 45px;
  margin: 0;
}

.subtitle {
  color: var(--color-secondary);
  font-weight: normal;
  font-size: 20px;
  margin-top: 10px;
}

.title__secondary {
  color: var(--color-primary);
  font-size: 45px;
  margin: 20px 0px 0px 0px;
}

.advertising {
  text-align: center;
  margin-bottom: 25px;
}
/*****************  CONTENT END *****************/

/*****************  NEWS START *****************/
.news {
  width: 300px;
}

.news__body {
  height: 250px;
  border: 1px solid var(--color-primary);
  margin: 0px auto;
  border-radius: 30px 30px 0px 0px;
}

.news__body--video {
  height: 168px;
  border: 1px solid var(--color-primary);
  margin: 0px auto;
  border-radius: 30px 30px 0px 0px;
}

.news__footer {
  height: 80px;
  background-color: var(--color-var(--color-white));
  border-radius: 0px 0px 30px 30px;
  border: 1px solid var(--color-primary);
}

.news__info {
  display: inline-block;
  color: var(--color-black);
}

.news__logo {
  border-radius: 30px 30px 0px 0px;
  height: 100%;
  width: 100%;
}

h5.news__info {
  margin: 0px;
  padding: 15px 0px 5px 0px;
  font-size: 15px;
  color: var(--color-primary);
  font-style: unset;
}

.color__icon--primary {
  color: var(--color-primary);
}

.color__icon--secondary {
  color: var(--color-secondary);
}
/*****************  NEWS END *****************/

/*****************  STAR END *****************/

.banner__university {
  text-align: center;
  margin-top: 120px;
  padding: 30px;
  background-color: var(--color-secondary);
}

.banner__university img {
  height: 70px;
}

.column__specialties {
  width: 40%;
  height: 300px;
  margin-right: 50px;
  margin-top: 20px;
}

.column__specialties span {
  color: var(--color-black);
}

.iframe {
  border-radius: 5px;
  margin-top: 20px;
}

/*****************  FORM START *****************/

.form {
  border-color: var(--color-primary);
  font-family: "ABeeZee", sans-serif;
  height: 50px;
  width: 250px;
  padding: 5px;
  border-width: 1px;
  border-radius: 5px;
}

input:focus {
  color: var(--color-primary);
  border: 0px;
}

.form__country {
  margin-right: 5px;
  width: 250px;
  font-size: 20px;
}

.form__search {
  margin-right: 5px;
  width: 300px;
}

.form__text {
  width: 80%;
  height: 25px;
}

.form__textarea {
  width: 80%;
  height: 50px;
}

.form__contact {
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 30px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 50px 0px 50px 0px;
}

.button {
  color: var(--color-white);
  background-color: var(--color-secondary);
  border-color: var(--color-white);
  font-family: "ABeeZee", sans-serif;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  display: inline-block;
  height: 60px;
  width: 120px;
  border-width: 1px;
  border-radius: 5px;
  font-weight: normal;
  font-size: 30px;
  font: inherit;
  font: inherit;
}

.button--submit {
  width: 300px;
}

.button--more {
  text-decoration: underline;
}

.button--more:hover {
  background-color: var(--color-primary);
}

/*****************  FORM END *****************/
